In [33]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [34]:
base_path=Path().resolve().parents[0]
data_path = os.path.join(base_path,'02-data/')
allcsvs = [x for x in os.listdir(data_path) if '.csv' in x ]
allparquet = [x for x in os.listdir(data_path) if '.par' in x]

### Data loading

In [35]:
parse_dates = ['Datetime']
df_AEP = pd.read_csv(data_path+allcsvs[0], parse_dates=parse_dates)

In [31]:
df_AEP.head()

             Datetime  PJMW_MW
0 2002-12-31 01:00:00   5077.0
1 2002-12-31 02:00:00   4939.0
2 2002-12-31 03:00:00   4885.0
3 2002-12-31 04:00:00   4857.0
4 2002-12-31 05:00:00   4930.0

In [50]:
df_AEP.describe()

             PJMW_MW
count  143206.000000
mean     5602.375089
std       979.142872
min       487.000000
25%      4907.000000
50%      5530.000000
75%      6252.000000
max      9594.000000

### quick read of all data and report lengths, max/min dates and amplitudes(mW)

In [72]:
df_info =[]
for csvdf in allcsvs:
    df = pd.read_csv(data_path+csvdf, parse_dates=parse_dates)
    print("file: "+csvdf)
    tmp_dict = {}
    tmp_dict.update({'filename':csvdf, 'length':int(df.describe().iloc[0]), 'max_pw':float(df.describe().iloc[-1]), 'min_pw': float(df.describe().iloc[3]), 'avg_pw': float(df.describe().iloc[1])})
    df_info.append(tmp_dict)

file: PJMW_hourly.csv
file: PJM_Load_hourly.csv
file: DAYTON_hourly.csv
file: NI_hourly.csv
file: PJME_hourly.csv
file: FE_hourly.csv
file: DOM_hourly.csv
file: EKPC_hourly.csv
file: DEOK_hourly.csv
file: DUQ_hourly.csv
file: AEP_hourly.csv
file: COMED_hourly.csv

In [74]:
df_info=pd.DataFrame.from_dict(df_info)

In [76]:
df_info

               filename  length   max_pw   min_pw        avg_pw
0       PJMW_hourly.csv  143206   9594.0    487.0   5602.375089
1   PJM_Load_hourly.csv   32896  54030.0  17461.0  29766.427408
2     DAYTON_hourly.csv  121275   3746.0    982.0   2037.851140
3         NI_hourly.csv   58450  23631.0   7003.0  11701.682943
4       PJME_hourly.csv  145366  62009.0  14544.0  32080.222831
5         FE_hourly.csv   62874  14032.0      0.0   7792.159064
6        DOM_hourly.csv  116189  21651.0   1253.0  10949.203625
7       EKPC_hourly.csv   45334   3490.0    514.0   1464.218423
8       DEOK_hourly.csv   57739   5445.0    907.0   3105.096486
9        DUQ_hourly.csv  119068   3054.0   1014.0   1658.820296
10       AEP_hourly.csv  121273  25695.0   9581.0  15499.513717
11     COMED_hourly.csv   66497  23753.0   7237.0  11420.152112

# read from ...est.csv file to check comparison

In [78]:
df=pd.read_csv(data_path+'pjm_hourly_est.csv',parse_dates=parse_dates)
df.describe()

,AEP,COMED,DAYTON,DEOK,DOM,DUQ,EKPC,FE,NI,PJME,PJMW,PJM_Load
count,121273.000000,66497.000000,121275.000000,57739.000000,116189.000000,119068.000000,45334.000000,62874.000000,58450.000000,145366.000000,143206.000000,32896.000000
mean,15499.513717,11420.152112,2037.851140,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408
std,2591.399065,2304.139517,393.403153,599.859026,2413.946569,301.740640,378.868404,1331.268006,2371.498701,6464.012166,979.142872,5849.769954
min,9581.000000,7237.000000,982.000000,907.000000,1253.000000,1014.000000,514.000000,0.000000,7003.000000,14544.000000,487.000000,17461.000000
25%,13630.000000,9780.000000,1749.000000,2687.000000,9322.000000,1444.000000,1185.000000,6807.000000,9954.000000,27573.000000,4907.000000,25473.000000
50%,15310.000000,11152.000000,2009.000000,3013.000000,10501.000000,1630.000000,1386.000000,7700.000000,11521.000000,31421.000000,5530.000000,29655.000000
75%,17200.000000,12510.000000,2279.000000,3449.000000,12378.000000,1819.000000,1699.000000,8556.000000,12896.750000,35650.000000,6252.000000,33073.250000
max,25695.000000,23753.000000,3746.000000,5445.000000,21651.000000,3054.000000,3490.000000,14032.000000,23631.000000,62009.000000,9594.000000,54030.000000

## PJM_hourly_est.csv contains all the records combined