In [192]:
import pandas as pd
import numpy as np
import os, sys
import random
from pathlib import Path
import logging

In [2]:
base_path=Path().resolve().parents[0]
data_path = os.path.join(base_path,'02-data/')
allcsvs = [x for x in os.listdir(data_path) if '.csv' in x ]
allparquet = [x for x in os.listdir(data_path) if '.par' in x]

## set up logging

In [231]:
def setup_custom_logger(name):
    formatter = logging.Formatter(fmt='%(asctime)s %(levelname)-8s %(message)s',
                                  datefmt='%Y-%m-%d %H:%M:%S')
    handler = logging.FileHandler('map_columns.log', mode='a')
    handler.setFormatter(formatter)
    screen_handler = logging.StreamHandler(stream=sys.stdout)
    screen_handler.setFormatter(formatter)
    logger = logging.getLogger(name)
    logger.setLevel(logging.INFO)
    logger.addHandler(handler)
    logger.addHandler(screen_handler)
    return logger

### Data loading

In [280]:
df_carmod = pd.read_csv(data_path+allcsvs[1])

In [281]:
df_carmod.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21.0,27.0,13495.0,11.190476,Medium,0.0,1.0
1,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21.0,27.0,16500.0,11.190476,Medium,0.0,1.0
2,1,122.0,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154.0,5000.0,19.0,26.0,16500.0,12.368421,Medium,0.0,1.0
3,2,164.0,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102.0,5500.0,24.0,30.0,13950.0,9.791667,Medium,0.0,1.0
4,2,164.0,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115.0,5500.0,18.0,22.0,17450.0,13.055556,Medium,0.0,1.0

In [282]:
df_carmod.dtypes

symboling             object
normalized-losses    float64
make                  object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight          float64
engine-type           object
num-of-cylinders      object
engine-size          float64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg             float64
highway-mpg          float64
price                float64
city-L/100km         float64
horsepower-binned     object
diesel               float64
gas                  float64
dtype: object

In [245]:
df_carmod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          202 non-null    object
 1   normalized-losses  201 non-null    float64
 2   make               201 non-null    object
 3   aspiration         201 non-null    object
 4   num-of-doors       201 non-null    object
 5   body-style         201 non-null    object
 6   drive-wheels       201 non-null    object
 7   engine-location    201 non-null    object
 8   wheel-base         201 non-null    float64
 9   length             201 non-null    float64
 10  width              201 non-null    float64
 11  height             201 non-null    float64
 12  curb-weight        201 non-null    float64
 13  engine-type        201 non-null    object
 14  num-of-cylinders   201 non-null    object
 15  engine-size        201 non-null    float64
 16  fuel-system        201 non-null    object
 17  bore               201 non-null    float64
 18  stroke             197 non-null    float64
 19  compression-ratio  201 non-null    float64
 20  horsepower         201 non-null    float64
 21  peak-rpm           201 non-null    float64
 22  city-mpg           201 non-null    float64
 23  highway-mpg        201 non-null    float64
 24  price              201 non-null    float64
 25  city-L/100km       201 non-null    float64
 26  horsepower-binned  200 non-null    object
 27  diesel             201 non-null    float64
 28  gas                201 non-null    float64
dtypes: float64(18), object(11)
memory usage: 46.1+ KB

### quick conversion of some column data type for more efficient use

In [278]:
df_carmod['normalized-losses']=df_carmod['normalized-losses'].astype('Int16')

In [279]:
df_carmod['num-of-cylinders'].value_counts()

4     157
6      24
5      10
8       4
2       4
12      1
3       1
Name: num-of-cylinders, dtype: int64

In [80]:
df_carmod['horsepower']=df_carmod['horsepower'].fillna(0).astype('int16')

In [92]:
df_carmod['horsepower-binned'].value_counts()

Low       115
Medium     62
High       23
Name: horsepower-binned, dtype: int64

In [82]:
df_carmod['engine-size']=df_carmod['engine-size'].astype('Int16')

In [83]:
df_carmod['gas']=df_carmod['gas'].astype('bool')
df_carmod['diesel']=df_carmod['diesel'].astype('bool')

In [86]:
df_carmod['highway-mpg']=df_carmod['highway-mpg'].fillna(0).astype('Int16')

In [118]:
df_carmod['aspiration']=df_carmod['aspiration'].fillna('std')

In [91]:
df_carmod['city-L/100km'].value_counts()

7.580645     28
12.368421    27
9.791667     22
8.703704     14
10.217391    12
9.038462     12
13.823529    12
11.190476     8
9.400000      8
7.833333      8
8.392857      7
6.351351      6
6.184211      5
14.687500     5
10.681818     4
8.103448      3
13.055556     3
11.750000     3
15.666667     3
16.785714     2
6.527778      1
5.222222      1
6.714286      1
7.343750      1
7.121212      1
5.000000      1
6.911765      1
18.076923     1
4.795918      1
Name: city-L/100km, dtype: int64

In [124]:
df_carmod.isnull().sum()

symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               4
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    1
diesel               0
gas                  0
dtype: int64

In [178]:
for col in df_carmod.columns:
    print(col+":")
    print(df_carmod[col].unique())

symboling:
['3' '1' '2' '0' '-1' '-2']
normalized-losses:
<IntegerArray>
[122, 164, 158, 192, 188, 121,  98,  81, 118, 148, 110, 145, 137, 101,  78,
 106,  85, 107, 104, 113, 150, 129, 115,  93, 142, 161, 153, 125, 128, 103,
 168, 108, 194, 231, 119, 154,  74, 186,  83, 102,  89,  87,  77,  91, 134,
  65, 197,  90,  94, 256,  95]
Length: 51, dtype: Int16
make:
[20 11 17  4  5  0  9 12 10  1 15  2  3 16  6 19 14 21 13  8 18  7]
aspiration:
['std' 'turbo']
num-of-doors:
['two' 'four']
body-style:
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
drive-wheels:
['rwd' 'fwd' '4wd']
engine-location:
['front' 'rear']
wheel-base:
[ 88.6  94.5  99.8  99.4 105.8 101.2 103.5 110.   88.4  93.7 103.3  95.9
  86.6  96.5  94.3  96.  113.  102.   93.1  95.3  98.8 104.9 106.7 115.6
  96.6 120.9 112.  102.7  93.   96.3  95.1  97.2 100.4  91.3  99.2 107.9
 114.2 108.   89.5  96.1  99.1  93.3  97.   96.9  95.7  98.4 102.4 102.9
 104.5  97.3 104.3 109.1]
length:
[0.81114849 0.8226814  0.84863047 0.85199423 0.92599712 0.84959154
 0.9082172  0.93128304 0.94666026 0.6780394  0.74915906 0.76309467
 0.75588659 0.8390197  0.83229217 0.69485824 0.7208073  0.78519942
 0.75492552 0.80490149 0.84286401 0.8125901  0.82027871 0.82940894
 0.95915425 0.92119173 0.76453628 0.80153772 0.81210956 0.85439692
 0.84094185 0.91734743 0.90100913 0.9735704  0.86641038 1.
 0.9572321  0.85728015 0.83133109 0.82844786 0.79432965 0.81787602
 0.79577126 0.78039404 0.83325324 0.87313791 0.88707352 0.85776069
 0.89716482 0.95579049 0.80394041 0.81162902 0.87217684 0.89668429
 0.75396444 0.75876982 0.82652571 0.83373378 0.83421432 0.76261413
 0.81547333 0.79913503 0.81066795 0.84670831 0.84382508 0.8817876
 0.90245074 0.82508409 0.76549736 0.7962518  0.86592984 0.87986545
 0.90725613]
width:
[0.89027778 0.90972222 0.91944444 0.92222222 0.92083333 0.99166667
 0.9        0.92916667 0.94305556 0.98472222 0.8375     0.88333333
 0.88611111 0.89722222 0.8875     0.88888889 0.90555556 0.86805556
 0.91666667 0.85833333 0.96666667 0.98055556 0.89166667 0.9125
 0.92361111 0.91805556 0.97638889 0.99583333 0.97916667 1.
 0.94444444 0.89444444 0.90833333 0.95       0.94861111 0.90277778
 0.925      0.88055556 0.91111111 0.94027778 0.93333333 0.95694444
 0.95555556]
height:
[48.8 52.4 54.3 53.1 55.7 55.9 53.7 56.3 53.2 52.  50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  55.2 50.5
 52.5 53.  59.1 53.9 55.6 56.2 57.5]
curb-weight:
[2548. 2823. 2337. 2824. 2507. 2844. 2954. 3086. 2395. 2710. 2765. 3055.
 3230. 3380. 3505. 1488. 1874. 1909. 1876. 2128. 1967. 1989. 2191. 2535.
 2811. 1713. 1819. 1837. 1940. 1956. 2010. 2024. 2236. 2289. 2304. 2372.
 2465. 2293. 2734. 4066. 3950. 1890. 1900. 1905. 1945. 1950. 2380. 2385.
 2500. 2410. 2443. 2425. 2670. 2700. 3515. 3750. 3495. 3770. 3740. 3685.
 3900. 3715. 2910. 1918. 1944. 2004. 2145. 2370. 2328. 2833. 2921. 2926.
 2365. 2405. 2403. 1889. 2017. 1938. 1951. 2028. 1971. 2037. 2008. 2324.
 2302. 3095. 3296. 3060. 3071. 3139. 3020. 3197. 3430. 3075. 3252. 3285.
 3485. 3130. 2818. 2778. 2756. 2800. 2579. 2460. 2658. 2695. 2707. 2758.
 2808. 2847. 2050. 2120. 2240. 2190. 2340. 2510. 2290. 2455. 2420. 2650.
 1985. 2040. 2015. 2280. 3110. 2081. 2109. 2275. 2094. 2122. 2140. 2169.
 2204. 2265. 2300. 2540. 2536. 2551. 2679. 2714. 2975. 2326. 2480. 2414.
 2458. 2976. 3016. 3131. 3151. 2261. 2209. 2264. 2212. 2319. 2254. 2221.
 2661. 2563. 2912. 3034. 2935. 3042. 3045. 3157. 2952. 3049. 3012. 3217.
 3062.]
engine-type:
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf']
num-of-cylinders:
['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
engine-size:
<IntegerArray>
[130, 152, 109, 136, 131, 108, 164, 209,  61,  90,  98, 122, 156,  92,  79,
 110, 111, 119, 258, 326,  91,  70,  80, 140, 134, 183, 234, 308, 304,  97,
 103, 120, 181, 151, 194, 132, 121, 146, 171, 161, 141, 173, 145]
Length: 43, dtype: Int16
fuel-system:
['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
bore:
[3.47       2.68       3.19       3.13       3.5        3.31
 3.62       2.91       3.03       2.97       3.34       3.6
 2.92       3.15       3.43       3.63       3.54       3.08
 3.32975124 3.39       3.76       3.58       3.46       3.8
 3.78       3.17       3.35       3.59       2.99       3.33
 3.7        3.61       3.94       3.74       2.54       3.05
 3.27       3.24       3.01      ]
stroke:
[2.68       3.47       3.4        2.8        3.19       3.39
 3.03       3.11       3.23       3.46       3.9        3.41
 3.07       3.58       4.17       2.76       3.15       3.25690355
 3.16       3.64       3.1        3.35       3.12       3.86
 3.29       3.27       3.52       2.19       3.21       2.9
 2.07       2.36       2.64       3.08       3.5        3.54
 2.87      ]
compression-ratio:
[ 9.   10.    8.    8.5   8.3   8.8   9.5   9.6   9.41  9.4   7.6   7.
  9.2  10.1   9.1   8.1  11.5   8.6  22.7  22.   21.5   7.5  21.9   7.8
  8.4  21.    8.7   9.31  9.3   7.7  22.5  23.  ]
horsepower:
[111 154 102 115 110 140 101 121 182  48  70  68  88 145  58  76  60  86
 100  78  90 176 262 135  84  64 120  72 123 155 184 175 116  69  55  97
 152 160 200  95 142 143 207 104  73  82  94  62  56 112  92 161 156  52
  85 114 162 134 106]
peak-rpm:
[5000.         5500.         5800.         4250.         5400.
 5100.         4800.         6000.         4750.         4650.
 4200.         4350.         4500.         5200.         4150.
 5600.         5900.         5125.36945813 5250.         4900.
 4400.         6600.         5300.        ]
city-mpg:
<IntegerArray>
[21, 19, 24, 18, 17, 23, 20, 16, 15, 47, 38, 37, 31, 49, 30, 27, 25, 13, 26,
 36, 22, 14, 45, 28, 32, 35, 34, 29, 33]
Length: 29, dtype: Int16
highway-mpg:
<IntegerArray>
[27, 26, 30, 22, 25, 20, 29, 28, 53, 43, 41, 38, 24, 54, 42, 34, 33, 31, 19,
 17, 23, 32, 39, 18, 16, 37, 50, 36, 47, 46]
Length: 30, dtype: Int16
price:
[13495. 16500. 13950. 17450. 15250. 17710. 18920. 23875. 16430. 16925.
 20970. 21105. 24565. 30760. 41315. 36880.  5151.  6295.  6575.  5572.
  6377.  7957.  6229.  6692.  7609.  8558.  8921. 12964.  6479.  6855.
  5399.  6529.  7129.  7295.  7895.  9095.  8845. 10295. 12945. 10345.
  6785. 11048. 32250. 35550. 36000.  5195.  6095.  6795.  6695.  7395.
 10945. 11845. 13645. 15645.  8495. 10595. 10245. 10795. 11245. 18280.
 18344. 25552. 28248. 28176. 31600. 34184. 35056. 40960. 45400. 16503.
  5389.  6189.  6669.  7689.  9959.  8499. 12629. 14869. 14489.  6989.
  8189.  9279.  5499.  7099.  6649.  6849.  7349.  7299.  7799.  7499.
  7999.  8249.  8949.  9549. 13499. 14399. 17199. 19699. 18399. 11900.
 13200. 12440. 13860. 15580. 16900. 16695. 17075. 16630. 17950. 18150.
 12764. 22018. 32528. 34028. 37028.  9295.  9895. 11850. 12170. 15040.
 15510. 18620.  5118.  7053.  7603.  7126.  7775.  9960.  9233. 11259.
  7463. 10198.  8013. 11694.  5348.  6338.  6488.  6918.  7898.  8778.
  6938.  7198.  7788.  7738.  8358.  9258.  8058.  8238.  9298.  9538.
  8449.  9639.  9989. 11199. 11549. 17669.  8948. 10698.  9988. 10898.
 11248. 16558. 15998. 15690. 15750.  7975.  7995.  8195.  9495.  9995.
 11595.  9980. 13295. 13845. 12290. 12940. 13415. 15985. 16515. 18420.
 18950. 16845. 19045. 21485. 22470. 22625.]
city-L/100km:
[11.19047619 12.36842105  9.79166667 13.05555556 13.82352941 10.2173913
 11.75       14.6875     15.66666667  5.          6.18421053  6.35135135
  7.58064516  4.79591837  7.83333333  8.7037037   9.4        18.07692308
  9.03846154  6.52777778 10.68181818 16.78571429  5.22222222  8.39285714
  7.34375     6.71428571  6.91176471  8.10344828  7.12121212]
horsepower-binned:
['Medium' 'Low' 'High' nan]
diesel:
[False  True]
gas:
[ True False]

In [109]:
nullcols

array(['symboling', 'normalized-losses', 'make', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight',
       'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system',
       'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm',
       'city-mpg', 'highway-mpg', 'price', 'city-L/100km',
       'horsepower-binned', 'diesel', 'gas'], dtype=object)

In [122]:
nullcols = df_carmod.isnull().sum().index.values
for col in nullcols:
    print(df_carmod[col].value_counts())

0     65
1     52
2     32
3     27
-1    22
-2     3
Name: symboling, dtype: int64
122    41
161    11
91      8
150     7
104     6
128     6
134     6
95      5
74      5
103     5
102     5
85      5
94      5
168     5
65      5
106     4
118     4
148     4
93      4
137     3
83      3
101     3
115     3
154     3
125     3
145     2
108     2
87      2
197     2
113     2
110     2
89      2
129     2
119     2
153     2
81      2
158     2
164     2
188     2
192     2
194     2
98      1
142     1
121     1
107     1
186     1
90      1
231     1
77      1
78      1
256     1
Name: normalized-losses, dtype: Int64
toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
alfa-romero       3
chevrolet         3
jaguar            3
renault           2
isuzu             2
mercury           1
Name: make, dtype: int64
std      165
turbo     36
Name: aspiration, dtype: int64
four    115
two      86
Name: num-of-doors, dtype: int64
sedan          94
hatchback      68
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64
fwd    118
rwd     75
4wd      8
Name: drive-wheels, dtype: int64
front    198
rear       3
Name: engine-location, dtype: int64
93.7     20
94.5     19
95.7     13
96.5      8
97.3      7
96.3      6
98.4      6
107.9     6
98.8      6
99.1      6
104.3     6
100.4     6
93.1      5
97.2      5
102.4     5
109.1     5
95.9      5
101.2     4
97.0      4
114.2     4
95.3      4
105.8     3
103.5     3
110.0     3
89.5      3
86.6      2
113.0     2
104.5     2
96.9      2
104.9     2
88.6      2
99.8      2
91.3      2
115.6     2
102.9     2
96.1      2
103.3     2
93.0      1
88.4      1
99.2      1
96.0      1
102.0     1
112.0     1
106.7     1
99.4      1
93.3      1
102.7     1
95.1      1
120.9     1
96.6      1
94.3      1
108.0     1
Name: wheel-base, dtype: int64
0.755887    15
0.907256    11
0.825084     7
0.897165     7
0.799135     7
            ..
0.753964     1
0.763095     1
0.749159     1
0.829409     1
1.000000     1
Name: length, Length: 73, dtype: int64
0.886111    24
0.923611    23
0.908333    15
0.950000    10
0.894444    10
0.888889     9
0.883333     9
0.909722     8
0.905556     7
0.933333     6
0.891667     6
0.920833     6
0.911111     6
0.929167     5
0.900000     4
0.956944     4
0.943056     4
0.912500     4
0.902778     3
0.995833     3
0.887500     3
0.991667     3
0.976389     3
0.897222     2
0.940278     2
0.966667     2
0.890278     2
0.918056     2
0.948611     2
0.944444     1
0.868056     1
0.916667     1
0.979167     1
0.880556     1
0.919444     1
0.858333     1
0.955556     1
0.980556     1
0.837500     1
0.922222     1
0.984722     1
0.925000     1
1.000000     1
Name: width, dtype: int64
50.8    14
55.7    12
54.5    10
54.1    10
52.0     9
55.5     9
56.7     8
54.3     8
51.6     7
56.1     7
52.6     7
50.2     6
53.0     6
54.9     6
52.8     6
53.7     5
55.1     5
50.6     5
53.3     4
58.7     4
49.6     4
57.5     3
53.5     3
49.7     3
59.1     3
56.2     3
52.5     3
49.4     2
48.8     2
56.3     2
54.4     2
59.8     2
56.5     2
54.7     2
51.4     2
53.9     2
56.0     1
51.0     1
50.5     1
52.4     1
55.4     1
55.6     1
53.1     1
58.3     1
47.8     1
54.8     1
55.9     1
53.2     1
55.2     1
Name: height, dtype: int64
2385.0    4
1918.0    3
2275.0    3
1989.0    3
2414.0    2
         ..
2324.0    1
3151.0    1
1938.0    1
2017.0    1
2921.0    1
Name: curb-weight, Length: 169, dtype: int64
ohc      145
ohcf      15
ohcv      13
l         12
dohc      12
rotor      4
Name: engine-type, dtype: int64
four      157
six        24
five       10
eight       4
two         4
three       1
twelve      1
Name: num-of-cylinders, dtype: int64
92     15
122    15
98     14
97     14
108    13
110    12
90     10
109     8
141     7
120     7
146     6
121     6
152     6
181     6
156     5
91      5
136     5
183     4
130     4
171     3
164     3
209     3
70      3
194     3
234     2
258     2
132     2
134     2
140     2
131     1
119     1
103     1
145     1
151     1
111     1
173     1
308     1
79      1
326     1
61      1
304     1
80      1
161     1
Name: engine-size, dtype: Int64
mpfi    92
2bbl    64
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel-system, dtype: int64
3.620000    23
3.190000    20
3.150000    15
2.970000    12
3.030000    10
3.460000     9
3.780000     8
3.310000     8
3.430000     8
2.910000     7
3.270000     7
3.540000     6
3.580000     6
3.390000     6
3.050000     6
3.700000     5
3.010000     5
3.329751     4
3.350000     4
3.590000     3
3.740000     3
3.170000     3
3.470000     2
3.630000     2
3.330000     2
3.240000     2
3.800000     2
3.500000     2
3.600000     1
2.990000     1
3.080000     1
3.610000     1
2.680000     1
3.340000     1
3.940000     1
3.130000     1
2.540000     1
2.920000     1
3.760000     1
Name: bore, dtype: int64
3.40    19
3.03    14
3.15    14
3.23    14
3.39    13
2.64    11
3.35     9
3.29     9
3.46     8
3.41     6
3.19     6
3.07     6
3.58     6
3.27     6
3.50     6
3.64     5
3.52     5
3.47     4
3.86     4
3.54     4
3.90     3
2.90     3
3.11     3
3.08     2
2.19     2
2.80     2
3.10     2
4.17     2
2.68     2
2.87     1
3.21     1
3.16     1
3.12     1
2.76     1
2.07     1
2.36     1
Name: stroke, dtype: int64
9.00     46
9.40     26
8.50     14
9.50     13
9.30     11
8.70      9
8.00      8
9.20      8
7.00      6
8.60      5
8.40      5
7.50      5
21.00     5
23.00     5
7.60      4
21.50     4
22.50     3
8.30      3
8.80      3
9.60      3
7.70      2
8.10      2
10.00     2
9.31      1
21.90     1
9.41      1
22.00     1
11.50     1
10.10     1
9.10      1
22.70     1
7.80      1
Name: compression-ratio, dtype: int64
68     19
69     10
70      9
116     9
110     8
95      7
88      6
114     6
101     6
62      6
160     5
76      5
145     5
82      5
84      5
97      5
102     5
111     4
86      4
123     4
92      4
207     3
90      3
121     3
152     3
73      3
182     3
85      3
100     2
94      2
56      2
52      2
104     2
156     2
112     2
184     2
176     2
162     2
155     2
161     2
200     1
48      1
55      1
58      1
60      1
175     1
64      1
72      1
106     1
154     1
78      1
143     1
142     1
140     1
135     1
134     1
120     1
115     1
262     1
Name: horsepower, dtype: int64
4800.000000    36
5500.000000    36
5000.000000    27
5200.000000    23
5400.000000    11
6000.000000     9
5250.000000     7
5800.000000     7
4500.000000     7
4200.000000     5
4150.000000     5
4350.000000     4
4750.000000     4
5100.000000     3
5900.000000     3
4250.000000     3
4400.000000     3
5125.369458     2
6600.000000     2
5600.000000     1
4650.000000     1
4900.000000     1
5300.000000     1
Name: peak-rpm, dtype: int64
31    28
19    27
24    22
27    14
17    12
26    12
23    12
21     8
30     8
25     8
28     7
37     6
38     5
16     5
22     4
15     3
18     3
29     3
20     3
14     2
45     1
49     1
47     1
32     1
33     1
34     1
35     1
36     1
13     1
Name: city-mpg, dtype: Int64
25    19
24    17
38    17
30    16
32    16
34    14
37    13
28    12
29    10
33     9
31     8
23     7
22     7
27     5
26     3
41     3
42     3
20     2
19     2
18     2
16     2
36     2
39     2
43     2
46     2
47     2
17     1
53     1
50     1
54     1
Name: highway-mpg, dtype: Int64
8495.0     2
18150.0    2
7295.0     2
6229.0     2
8845.0     2
          ..
15580.0    1
6377.0     1
30760.0    1
16925.0    1
18920.0    1
Name: price, Length: 186, dtype: int64
7.580645     28
12.368421    27
9.791667     22
8.703704     14
10.217391    12
9.038462     12
13.823529    12
11.190476     8
9.400000      8
7.833333      8
8.392857      7
6.351351      6
6.184211      5
14.687500     5
10.681818     4
8.103448      3
13.055556     3
11.750000     3
15.666667     3
16.785714     2
6.527778      1
5.222222      1
6.714286      1
7.343750      1
7.121212      1
5.000000      1
6.911765      1
18.076923     1
4.795918      1
Name: city-L/100km, dtype: int64
Low       115
Medium     62
High       23
Name: horsepower-binned, dtype: int64
False    181
True      20
Name: diesel, dtype: int64
True     181
False     20
Name: gas, dtype: int64

## check on all null values in columns

In [130]:
print(df_carmod.isnull().sum())

symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    1
diesel               0
gas                  0
dtype: int64

In [129]:
df_carmod['stroke']=df_carmod['stroke'].fillna(df_carmod['stroke'].mean())

<ipython-input-129-d36dd7456882>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_carmod['stroke']=df_carmod['stroke'].fillna(df_carmod['stroke'].mean())

In [116]:
df_carmod['normalized-losses']=df_carmod['normalized-losses'].fillna(int(df_carmod['normalized-losses'].mean()))

In [133]:
df_carmod[df_carmod['horsepower-binned'].isnull()]

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
46,0,122,jaguar,std,two,sedan,rwd,front,102.0,0.921192,...,11.5,262,5000.0,13,17,36000.0,18.076923,NaN,False,True

In [134]:
# check the jaguar car type horsepowers
df_carmod[df_carmod['make']=='jaguar']

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
44,0,145,jaguar,std,four,sedan,rwd,front,113.0,0.959154,...,8.1,176,4750.0,15,19,32250.0,15.666667,High,False,True
45,0,122,jaguar,std,four,sedan,rwd,front,113.0,0.959154,...,8.1,176,4750.0,15,19,35550.0,15.666667,High,False,True
46,0,122,jaguar,std,two,sedan,rwd,front,102.0,0.921192,...,11.5,262,5000.0,13,17,36000.0,18.076923,NaN,False,True

In [155]:
horspb = df_carmod[df_carmod['make']==df_carmod[df_carmod['horsepower-binned'].isnull()]['make'].values[0]]['horsepower-binned'].values

In [170]:
df_carmod = df_carmod[df_carmod['make'].notnull()]

In [234]:
def create_mapping_rand(df, col):
    """ This is a tool to create random mapping of the text columns to integer"""

    keylist = df[col].unique()
    random.shuffle(keylist)
    map_dict = {key: x for x,key in enumerate(keylist)}
    return map_dict

In [176]:
def map_rank(df,col,mapdict):
    """ This function maps the text column content into numerical"""
    map_num={col:mapdict}
    df.replace(map_num,inplace=True)
    return df

In [232]:
if (logger.hasHandlers()):
    logger.handlers.clear()
logger = setup_custom_logger('maplog')

In [283]:
def trans_dataframe_car(df, logger):
    """ this function transforms the data frame of car type data into inputs to ML model,
    (1) fill in null values with approprieate means
    (2) convert text/categorical data into encoding by mapping"""

    # print null columns
    print("all columns and the number of null cells:")
    print(df_carmod.isnull().sum())

    # delete all no-brand cars
    df = df[df['make'].notnull()]

    # arrange datatypes
    df['engine-size']=df['engine-size'].astype('int16')
    df['normalized-losses']=df['normalized-losses'].astype('int16')
    df['horsepower']=df['horsepower'].fillna(0).astype('int16')
    df['gas']=df['gas'].astype('bool')
    df['diesel']=df['diesel'].astype('bool') 
    df['highway-mpg']=df['highway-mpg'].fillna(0).astype('int16') 

    # deal with null cells(and inappropriate 0s)

    df.fillna({'stroke':df['stroke'].mean()}, inplace=True)
    horspb = df[df['make']==df[df['horsepower-binned'].isnull()]['make'].values[0]]['horsepower-binned'].values
    df.fillna({'horsepower-binned':horspb.any()}, inplace= True)
    #df['normalized-losses']=df['normalized-losses'].fillna(int(df['normalized-losses'].mean()))
    #df['aspiration']=df['aspiration'].fillna('std')

    # mapping string columns 
    # particular columns which can go random encoded

    rand_enc_cols =['make','engine-type','fuel-system','body-style']
    for col in rand_enc_cols:
        mapdict=create_mapping_rand(df,col)
        df = map_rank(df, col,mapdict)
        # writes mapdict to log file
        logger.info("%s column mapping is: %s",col, mapdict)
    
    # hardcode some mapping of text columns based on intuitive knowledge 
    map_asp = {'std':0,'turbo':1}
    df=map_rank(df,'aspiration',map_asp)
    logger.info("%s column mapping is: %s",'aspiration', map_asp)
    map_numdoor = {'four':4, 'two':2}
    df=map_rank(df,'num-of-doors',map_numdoor)
    logger.info("%s column mapping is: %s",'num-of-doors', map_numdoor)
    map_drw = {'fwd':1, 'rwd': 0, '4wd': 4}
    df=map_rank(df, 'drive-wheels', map_drw)
    logger.info("%s column mapping is: %s",'drive-wheels', map_drw)
    map_numcyl = {'four':4,'six': 6, 'five':5, 'eight':8, 'two':2,'three': 3,'twelve':12}
    df=map_rank(df, 'num-of-cylinders',map_numcyl)
    logger.info("%s column mapping is: %s",'num-of-cylinders', map_numcyl)
    map_engloc = {'front':0,'rear':1}
    df=map_rank(df,'engine-location',map_engloc)
    logger.info("%s column mapping is: %s",'num-of-cylinders', map_numcyl)
    map_hrsp = {'Low':0,'Medium':1, 'High':2}
    df=map_rank(df,'horsepower-binned',map_hrsp)
    logger.info("%s column mapping is: %s",'horsepower-binned', map_hrsp)


    return df

In [284]:
df_carmod = trans_dataframe_car(df_carmod, logger)

all columns and the number of null cells:
symboling            1
normalized-losses    2
make                 2
aspiration           2
num-of-doors         2
body-style           2
drive-wheels         2
engine-location      2
wheel-base           2
length               2
width                2
height               2
curb-weight          2
engine-type          2
num-of-cylinders     2
engine-size          2
fuel-system          2
bore                 2
stroke               6
compression-ratio    2
horsepower           2
peak-rpm             2
city-mpg             2
highway-mpg          2
price                2
city-L/100km         2
horsepower-binned    3
diesel               2
gas                  2
dtype: int64
2021-02-18 13:21:02 INFO     make column mapping is: {'audi': 0, 'alfa-romero': 1, 'plymouth': 2, 'volvo': 3, 'honda': 4, 'mazda': 5, 'volkswagen': 6, 'bmw': 7, 'saab': 8, 'peugot': 9, 'mercedes-benz': 10, 'mitsubishi': 11, 'nissan': 12, 'renault': 13, 'subaru': 14, 'isuzu': 15, 'dodge': 16, 'mercury': 17, 'toyota': 18, 'porsche': 19, 'jaguar': 20, 'chevrolet': 21}
2021-02-18 13:21:02 INFO     engine-type column mapping is: {'rotor': 0, 'l': 1, 'ohc': 2, 'ohcv': 3, 'ohcf': 4, 'dohc': 5}
2021-02-18 13:21:02 INFO     fuel-system column mapping is: {'spdi': 0, 'spfi': 1, 'idi': 2, 'mfi': 3, 'mpfi': 4, '2bbl': 5, '1bbl': 6, '4bbl': 7}
2021-02-18 13:21:02 INFO     body-style column mapping is: {'sedan': 0, 'wagon': 1, 'hardtop': 2, 'hatchback': 3, 'convertible': 4}
2021-02-18 13:21:02 INFO     aspiration column mapping is: {'std': 0, 'turbo': 1}
2021-02-18 13:21:02 INFO     num-of-doors column mapping is: {'four': 4, 'two': 2}
2021-02-18 13:21:02 INFO     drive-wheels column mapping is: {'fwd': 1, 'rwd': 0, '4wd': 4}
2021-02-18 13:21:02 INFO     num-of-cylinders column mapping is: {'four': 4, 'six': 6, 'five': 5, 'eight': 8, 'two': 2, 'three': 3, 'twelve': 12}
2021-02-18 13:21:02 INFO     num-of-cylinders column mapping is: {'four': 4, 'six': 6, 'five': 5, 'eight': 8, 'two': 2, 'three': 3, 'twelve': 12}
2021-02-18 13:21:02 INFO     horsepower-binned column mapping is: {'Low': 0, 'Medium': 1, 'High': 2}
<ipython-input-283-fbf8479f707e>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine-size']=df['engine-size'].astype('int16')
<ipython-input-283-fbf8479f707e>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normalized-losses']=df['normalized-losses'].astype('int16')
<ipython-input-283-fbf8479f707e>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['horsepower']=df['horsepower'].fillna(0).astype('int16')
<ipython-input-283-fbf8479f707e>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gas']=df['gas'].astype('bool')
<ipython-input-283-fbf8479f707e>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diesel']=df['diesel'].astype('bool')
<ipython-input-283-fbf8479f707e>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['highway-mpg']=df['highway-mpg'].fillna(0).astype('int16')
/usr/local/lib/python3.9/site-packages/pandas/core/series.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [285]:
df_carmod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 200
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    object
 1   normalized-losses  201 non-null    int16
 2   make               201 non-null    int64
 3   aspiration         201 non-null    int64
 4   num-of-doors       201 non-null    int64
 5   body-style         201 non-null    int64
 6   drive-wheels       201 non-null    int64
 7   engine-location    201 non-null    int64
 8   wheel-base         201 non-null    float64
 9   length             201 non-null    float64
 10  width              201 non-null    float64
 11  height             201 non-null    float64
 12  curb-weight        201 non-null    float64
 13  engine-type        201 non-null    int64
 14  num-of-cylinders   201 non-null    int64
 15  engine-size        201 non-null    int16
 16  fuel-system        201 non-null    int64
 17  bore               201 non-null    float64
 18  stroke             201 non-null    float64
 19  compression-ratio  201 non-null    float64
 20  horsepower         201 non-null    int16
 21  peak-rpm           201 non-null    float64
 22  city-mpg           201 non-null    float64
 23  highway-mpg        201 non-null    int16
 24  price              201 non-null    float64
 25  city-L/100km       201 non-null    float64
 26  horsepower-binned  201 non-null    int64
 27  diesel             201 non-null    bool
 28  gas                201 non-null    bool
dtypes: bool(2), float64(12), int16(4), int64(10), object(1)
memory usage: 39.7+ KB